In [1]:
print(12,12.7, "pakistan", False)

12 12.7 pakistan False

In [5]:
print(12,12.7, "pakistan", False,sep=">=====")# separator

12>=====12.7>=====pakistan>=====False

In [10]:
print("Python",end ="\t\t")  #escape character 
print("Java",end ="\t\t")
print("Java Script")

Python		Java		Java Script

# String Formatting

In [11]:
age = 30
name = "wajahat"

print("My name is name and my age is age")

My name is name and my age is age

In [12]:
print("My name is "+ name + "and my age is " + age)

TypeError: can only concatenate str (not "int") to str

In [16]:
print("My name is "+ name + " and my age is " + str(age)) # type casting

My name is wajahat and my age is 30

In [17]:
print("My name is ",name,"and my age is ",age )

My name is  wajahat and my age is  30

In [21]:
age=int(input("Enter your age:")) # user input will always be str
                                # we type casted the age to int
name = input("Enter your name:")

print("My name is "+ name + " and my age is " + str(age)) # type casting

Enter your age:56
Enter your name:asad
My name is asad and my age is 56

# String formatting using python's .format()

In [2]:
age=input("Enter your age:") 
name = input("Enter your name:")

print("My name is {} and my age is {}".format(age,name))

Enter your age:23
Enter your name:asaD
My name is 23 and my age is asaD

# String formatting using python's f

In [4]:
age=input("Enter your age:")

name = input("Enter your name:")

print(f"My name is {name} and my age is {age}")

Enter your age:23
Enter your name:ASAD
My name is ASAD and my age is 23

# Math expressions: Familiar operators

In [5]:
3+5

8

In [6]:
5-3

2

In [7]:
5*4

20

In [9]:
1/1

1

In [10]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [14]:
age1 = 100
age2=200
age1+age2

300

# Math expressions: Unfamiliar operators

In [15]:
10%3   # modulo operator returns remainder of the division

1

In [16]:
# increment operator
age = 20
age = age+10
age

30

In [17]:
age +=10
age

40

In [18]:
age -=10
age

30

In [19]:
age *=10
age

300

In [20]:
age /=10
age

30.0

# Math expressions: Eliminating ambiguity

In [21]:
total_cost = 1 + 3 * 4

In [22]:
total_cost

13

In [23]:
2**3

8

In [24]:
3**2

9

# If Statements

In [25]:
12>10

True

In [26]:
10>12

False

In [27]:
10==10

True

In [28]:
10!=10

False

In [30]:
num1 = input("Enter number1")
num2 = input ("enter number2")
if num1 > num2:
    print("if chal gaya hy")
    print("num1 is greater than num2")
else:
    print("else chal gaya hy")
    print("num2 is greater than num1")

Enter number12
enter number21
if chal gaya hy
num1 is greater than num2

In [32]:
num = int(input("Enter a number: "))

if num%2==0:
    print("Given number is even")
else:
    print("Given number is odd")

Enter a number: 5
Given number is odd

# else and elif statements

In [38]:
age = int(input("Enter your age :"))


if age >=18:
    print("age is valid")
    ticket = input("Do you have valid ticket")
    if ticket == "yes":
        print("ticket ok")
        print("you can enter")
    else:
        print("you can not enter")
else:
    print("you can not enter")

Enter your age :34
age is valid
Do you have valid ticketno
you can not enter

In [ ]:
exp = input("Do you have experience for this job")
if exp=="yes":
    print("you are selected")
    
elif:
    sifarish= input("koi parchi hy")
    if sifarish == "yes"
    print("you ")